<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdg.dao.IUserDao">

    <!--查询所有用户-->
    <select id="getAllUser" resultType="User">
        select * from tb_user
    </select>

    <select id="login" resultType="User">
        select * from tb_user where petname=#{petname} and password=#{password}
    </select>

    <insert id="saveUser">
        insert into tb_user values (null,#{petname},#{password},null ,null)
    </insert>

    <update id="updateUser">
        update tb_user set petname=#{petname},password=#{password},headimage=#{headimage},subscribes=#{subscribes} where uid=#{uid}
    </update>

    <delete id="deleteUserByUid">
        delete from tb_user where uid=#{uid}
    </delete>
</mapper>